{% extends "base.html" %}
{% load i18n mix %}

{% block js %}
<script charset="utf-8" src="{% mix 'dist/app.js' %}"></script>
{% endblock js %}

{% block container %}

<h1 class="title">
    {% if object %}
        
        {% trans "Update Car" %}
    {% else %}
        {% trans "Add Car" %}
        
    {% endif %}
</h1>

<div class="field">
                 <div class="control has-icons-left has-icons-right">
                        <input id="prova" type="text is-static" class="input"
                            ic-src="{% url 'car_client_search' %}" 
                            ic-trigger-delay="500ms"
                            autocomplete="off"
                            ic-indicator="#indicator"
                            name="search"  placeholder="{% trans "Search client ..." %}"/>
                         <span id="check" class="icon is-small is-right"  style="display:none">
                          <i class="fas fa-check has-text-primary	"></i>
                            </span>

                              <span id="indicator" class="icon is-small is-left" style="display:none" >
                                   <i class="fas fa-spinner fa-spin	"></i>
                            </span>
                            
                </div>
            </div>
{% if not object  %}
    <form ic-post-to="{% url 'car_add' %}" ic-target="#form">
{% else %}
    <form ic-post-to="{% url 'car_edit' object.id %}" ic-target="#form">
{% endif %}
    {% csrf_token %}
            


    <div class="field">
        <div class="control">
           <div class="dropdown-menu" id="prova-menu" role="menu" /></div>
        
        </div>
    </div>

    <div class="field">
        <div class="control">
        
            <label id="prova-label"> {{object.client.name|default:"not set"}} </label>
            <input type="hidden" name="client_id" value="{{object.client.id}}">
        </div>
    </div>

    <div id="form">
    
        {% include "form.html" %}

    </div>

<div class="field mt-xs is-grouped">

    <div class="control">
        <button  type="submit"
            class="button is-info"> {% trans "Send" %}</button>
    </div>
    <div class="control"><a class="button is-text" href="{% url 'car_list' %}"> {% trans "Cancel" %} </a></div>

</div>

</form>

<script charset="utf-8">


</script>

{% endblock %}
