[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"
django-test-plus = "*"
fabric = "*"
shiv = "*"
v = {editable = true,version = "*"}

[packages]
django = "*"
django-widget-tweaks = {git = "https://github.com/jazzband/django-widget-tweaks.git"}
django-autofixture = "*"
django-active-link = "*"
django-bsync = "*"
djangomix = "*"
django-test-without-migrations = "*"
django-webserver = {extras = ["pyuwsgi"],version = "*"}
install = "*"
goodconf = {extras = ["yaml"],version = "*"}
easyconf = "*"

[requires]
python_version = "3.6"
