[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"
django-test-plus = "*"
fabric = "*"
shiv = "*"
v = {version = "*",editable = true}

[packages]
django = "*"
django-widget-tweaks = "*" 
django-autofixture = "*"
django-active-link = "*"
django-bsync = "*"
django-test-without-migrations = "*"
goodconf = {extras = ["yaml"],version = "*"}
easyconf = "*"
django-registration-redux = "*"
dj-email-url = "*"
django-paypal = "*"
django-populate = "*"
django-webserver = {extras = ["pyuwsgi"],version = "*"}
djangomix = "*"
django-loginas = "*"

[requires]
python_version = "3.7"
