{% extends "base.html" %}
{% load i18n %}
{% block container %}

   
<div class="columns">
	<div class="column is-half is-offset-one-third ">

{% if request.user.paypalaccount.expire < now.date %}
<h1 class="title">
  {% trans "Account expire " %}
</h1>
{% elif request.user.paypalaccount.expire > now.date %}
<h1 class="title">
{% trans "Account active" %}
</h1>
{% elif not request.user.paypalaccount %} 
<h1 class="title">

  {% trans "Buy it NOW!" %}
</h1>
{% endif %}



{% if not request.user.paypalaccount or  request.user.paypalaccount.expire < now.date  %}

<div class="pricing-table">
  <div class="pricing-plan">
    <div class="plan-header">Starter</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
    <div class="plan-footer">
    {{form.render}}
    </div>
  </div>
</div>
{% endif %}



	</div>
</div>


    



{% endblock container %}
