{% load i18n %}
        
        {% for obj in object_list  %}
        <tr>
            <td>
            <input type="checkbox" name="ids" value="{{obj.id}}">
            </td>
            <td>{{obj.name}}</td>
            <td>{{obj.phone|default:""}}</td>
            <td>
                {{obj.car_set.count}}
            </td>
            <td>
              <a class="button is-info " href="{% url 'service_add' %}"> {% trans "Add Service" %}</a>
                <a href="{% url 'edit_client' obj.id %}" class="button is-small is-light">
                {% trans "Edit" %}
                </a>
            </td>
        </tr>
        {% endfor %}
