{% extends "base.html" %}
{% load i18n mix %}

{% block container %}

<h1 class="title"> {% trans "Add Client" %}</h1>

<form>
    {% csrf_token %}

    <span id="form">
    
        {% include "form.html" %}

    </span>

    <div class="field mt-xs">
        <div class="control">
    
                <button  type="button"
                    ic-post-to="{% url 'client_add'  %}"
                    ic-include="[name='csrfmiddlewaretoken']"
                    ic-target="#form"
                    class="button is-info"> {% trans "Add" %}</button>

        </div>
    </div>

</form>

{% endblock %}
