{% extends "base.html" %}
{% load i18n mix %}

{% block container %}

<h1 class="title"> 
    {% if object %}
        {% trans "Edit Client" %}
    {% else %}
        {% trans "Add Client" %}
    {% endif %}

    
</h1>

<form>
    {% csrf_token %}

    <span id="form">
    
        {% include "form.html" %}

    </span>

    <div class="field mt-xs">
        <div class="control">
    
                <button  type="button"
                    {% if object %}
                        ic-post-to="{% url 'edit_client' object.id %}"
                    {% else %}
                        ic-post-to="{% url 'client_add'  %}"
                    {% endif %}
                    
                    ic-include="[name='csrfmiddlewaretoken']"
                    ic-target="#form"
                    class="button is-info">
                    
                        {% trans "Send" %}
                         
                    </button>

        </div>
    </div>

</form>
{% if object.car_set.all %}

    <div class="mv-l">
        <h3 class="title"> {% trans "Cars" %}</h3>
    </div>

    <div class="columns ">
        <div class="column">
            <ul>
                
                {% for car in object.car_set.all  %}
                    <li>
                        {{car}}
                    </li>
                {% endfor%}
            </ul>
        </div>
    </div>

{% endif %}

{% endblock %}
