{% load i18n %}
        {% for obj in object_list  %}
        <tr>
            <td>
            <input type="checkbox" name="ids" value="{{obj.id}}">
            </td>
            <td>{{obj.car.client.name}}</td>
            <td>
              {{obj.car.brand}} {{obj.car.model}} {{obj.car.year|default:""}}
            </td>
            <td>
            {{obj.get_status}}
            </td>
            <td>{{obj.reception_datetime}}</td>
            <td>
                <a class="button as-text" href="{% url 'service_detail' obj.id  %}" >
                    {% trans "Details" %}
                </a>
            </td>
        </tr>
        {% endfor %}
