{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="level">
    <div class="level-left">

<h1 class="title">

  {% trans "Service Detail" %} 
  
</h1>

    </div>
    <div class="level-right">

    </div>
</div>




<div class="field is-grouped is-hidden-print">
    <div class="control">
        <div class="select">
            {% csrf_token %}
            <select name="status" id="" ic-post-to="{% url 'service_change_status' object.id %}" ic-include="[name='csrfmiddlewaretoken']">
            {% for k,st in object.STATUS  %}
                <option value="{{k}}" {% if k == object.status %} selected {% endif %}  >{{st}}</option>
            {% endfor %}
                
            </select>
        </div>
    </div>
</div>

<div class="columns">

    <div class="column">
    
     <p class="title is-4">
                    {{object.car.client.name}}
                </p>
                <p class="subtitle is-5">
                    {% trans "Phone" %}:
                        {{object.car.client.phone}} <a href="https://wa.me/{{object.car.client.phone}}"> 
                         <span class="icon ">
							   <i class="fab fa-whatsapp"></i>
							</span>
                         </a>
                        {% if object.car.client.email %}
                        {% trans "Email" %}    {{object.car.client.email|default:""}}
            
                        {% endif %}
                </p>
    </div>
    <div class="column">
            <p class="subtitle">
                {% trans "Reception at" %} {{object.reception_datetime}}    
               
            </p>

    
    </div>
    <div class="column">
        {{object.car}} 
    </div>
    
</div>



    <div class="columns">
        <div class="column is-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
            <p class=" title">
                    {% trans "Diagnostic" %}
            </p>
                    </div>
                    <div class="card-header-icon">
                        <a ic-get-from="{% url 'service_edit' object.id %}" ic-target="#content">
                            {% trans "Edit" %}
                        </a>
                    </div>
                </div>
                <div class="card-content">  
                    <div class="content" id="content">
                        {% include "core/service/diagnostic_detail.html" %}
                    </div>
                </div>
            </div>
    </div>
    <div class="column">

        <div class="field is-grouped">
            <div class="control">    
                    <h1 class="subtitle is-3">
                        {% trans "Quote" %}
                    </h1>    
            </div>
          
        </div>
        
        <div id="quote">
            
            {% include "core/service/_quote.html" %}
            
        </div>
        
    </div>
</div>

{% endblock %}
