{% load mix %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    
            {% block title %}
            {% endblock title %}
    
    </title>
    <link rel="stylesheet" href="{% mix 'dist/app.css' %}" type="text/css" media="all"  charset="utf-8">
    <script charset="utf-8" src="{% mix 'dist/main.js' %}"></script>
    <meta name="turbolinks-cache-control" content="no-preview">
    
  </head>
<body class=" has-background-light is-bold">

{% include "header.html"%}


{% block body %}


        <div class="columns">
            <div class="column is-2 has-background-white-ter is-hidden-print">
            <!-- div class="mt-xs ml-xxs">
              <span class="is-family-code has-text-weight-light	is-size-2	">tMech</span>
            </div-->
            
              <div class="m-xxs card">
                {% include "menu.html" %}
              </div>
              
            </div>
            <div class="column">
                   <div class="" ic-src="{% url 'messages'%}" ic-deps="*">
                     {% include "messages.html" %}
                   </div>
              <div class="m-xxs" id="container">
              
                  {% block container %}
                       
                  {% endblock container %}
              
              </div>
            
            
            </div>
        </div>


{% endblock  %}

{% block js %}{% endblock js %}

    
  </body>
</html>
