<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    
            {% block title %}
            {% endblock title %}
    
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-dashboard@0.1.40/dist/bulma-dashboard.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/css-spaces@0.3.5/dist/spaces.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/intercooler-js/1.2.2/intercooler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-quickview@2.0.0/dist/css/bulma-quickview.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma-quickview@2.0.0/dist/js/bulma-quickview.min.js"></script>


  </head>
<body class=" has-background-white-ter">

{% block body %}

    <section class="section">

        <div class="columns">
            <div class="column is-1">
                {% include "menu.html" %}
            
            </div>
            <div class="column">
         {% block container %}
            
        {% endblock container %}
           
            </div>
        </div>

    
    </section>


{% endblock body %}


  </body>
</html>
