 {% load widget_tweaks i18n %}


{% if form.errors %}
  <div class="help is-danger message is-danger">
    <div class="message-body">
             {% trans "Errors on form." %}
    {{ form.non_field_errors|add_error_class:"is-danger" }}
    </div>
    
  </div>
{% endif %}

{% for field in form %}

<div class="field">
  {{field|add_label_class:"label "}} 
  <div class="control">
    {{ field|add_class:"input"|add_error_class:"is-danger" }}
  </div>
  <div class="help is-danger">
    {{field.errors}}
  </div>
  <p class="help">
      {{field.help_text}}
    </p>
</div>

{% endfor %} 


