 {% load widget_tweaks i18n %}


{% if form.errors %}
  <div class="help is-danger message is-danger">
    <div class="message-body">
             {% trans "Errors on form." %}
    {{ form.non_field_errors|add_error_class:"is-danger" }}
    </div>
    
  </div>
{% endif %}

{% for field in form %}

<div class="field">
  {{field|add_label_class:"label "}} 
  <div class="control">
      {% with field|widget_type as  widgett  %}
      <!--
          {{widgett|pprint}} 
      -->
          {% if widgett == "textinput" %}  
            {{ field|add_error_class:"is-danger"|add_class:"input" }}
          {% elif widgett == "numberinput" %}  
            {{ field|add_error_class:"is-danger"|add_class:"input" }}
           {% elif widgett == "passwordinput" %}  
            {{ field|add_error_class:"is-danger"|add_class:"input" }}

         {% elif widgett == "datetimeinput" %}  
            {{ field|add_error_class:"is-danger"|add_class:"input" }}
          {% elif widgett == "emailinput" %}  
            {{ field|add_error_class:"is-danger"|add_class:"input" }}
          {% elif widgett == "textarea" %}  
            {% with cols_=cols|default:"cols:40" rows_=rows|default:"rows:10"%}
              {{ field|add_error_class:"is-danger"|add_class:"textarea"|attr:rows_|attr:cols_ }}
            {% endwith %}
         {% elif widgett == "select" %}  
             <div class="select">
                {{ field|add_error_class:"is-danger"}}
             </div>  
          {% else %}
            {{ field|add_error_class:"is-danger"|add_class:widgett  }}
          {% endif %}
      {% endwith %}
  </div>
  <div class="help is-danger">
    {{field.errors}}
  </div>
  <div class="help is-family-secondary has-text-weight-light">
      {{field.help_text}}
    </div>
</div>

{% endfor %} 


