{% load i18n %}
 <nav class="navbar box m-0 p-0 is-radiusless is-hidden-print">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'landing' %}" style="font-weight:bold;">
            tMech
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></s pan>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">

            <span class="navbar-item"> {{request.user.username}} {% now "" %} </span>
            <span class="navbar-item">
              <form action="/i18n/setlang/" method="post" style="display: inline;">
                {% csrf_token %}
                <div style="display: inline;">
                  <select name="language" onchange="javascript:form.submit()">
                    {% for lang in LANGUAGES %}
                      <option value="{{ lang.0 }}"{% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </span>

            {% if request.user.is_superuser %}
              <a href="/admin/" class="navbar-item">
                admin
              </a>
            {% endif %}
          {% if request.user.is_authenticated  %}
              
            <a href="{% url 'auth_password_change' %}" class="navbar-item">{% trans "Change Password" %}</a>
            <a href="{% url 'auth_logout' %}" class="navbar-item "> {% trans "Log Out" %}</a>
            
          {% endif %}  
          </div>
        </div>
      </div>
    </nav>

