{% extends 'base.html' %}

{% block body %}

<div class="hero  is-medium is-primary is-bold">
    <div class="hero-body">
    
        <div class="container">
        
                <div class="columns">
                    <div class="column is-vcentered">
                    
                            <h1 class="title">Title</h1>
                            <h2 class="subtitle">Subtitle</h2>
                    </div>
                </div>
        </div>
    </div>
</div>



{% endblock body %}