{% load i18n active_link_tags %}
<nav class="menu">
    <p class="menu-label">
        {% trans "General" %}
    </p>
    <ul class="menu-list">
     <li>
            <a href="{% url 'dashboard' %}" 
                class=" {% active_link 'dashboard' 'is-active' %}">
            <span class="icon">
                <i class="fa fa-tachometer-alt"></i>
            </span>

                <span> {% trans "Dashboard" %}</span>
            </a>
        </li>
         <li>
            <a href="{% url 'service_list' %}" class=" {% active_link 'service_list' 'is-active' %}">
            <span class="icon">
                <i class="fa fa-tools"></i>
            </span>
                <span> {% trans "Services" %}</span>
            </a>
        
        </li>
    </ul>
    <p class="menu-label">
        {% trans "Administration" %}
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'client_list' %}" 
                class=" {% active_link 'client_list' 'is-active' %}">
            <span class="icon">
                <i class="fa fa-user"></i>
            </span>
                <span> {% trans "Clients" %}</span>
            </a>
        </li>
        <li>
            <a href="{% url 'car_list' %}" class=" {% active_link 'car_list' 'is-active' %}">
            <span class="icon">
                <i class="fa fa-car-side"></i>
            </span>
                <span> {% trans "Cars" %}</span>
            </a>
        </li>

        <li>
        
        <a href="{% url 'conf' %}" class=" {% active_link 'conf' 'is-active' %}">
            <span class="icon">
                <i class="fa fa-building"></i>
            </span>
                <span> {% trans "Settings" %}</span>
            </a>
        </li>
    </ul>
</nav>
