{% extends 'base.html' %}
{% load i18n %}
{% block container %}
<h1 class="title">
    {% trans "Company configuration" %}
</h1>


<form method="post" action="{% url 'conf' %}">
{% csrf_token %}
{% include "form.html" %}

<div class="field">
    <div class="control">
        <button class="button" type="submit">
            {% trans "Set" %}
        </button>
    
    </div>
</div>
</form>


<div class="ph-xl pt-s ">
<h1 class="subtitle">
    {% trans "Account info" %}
</h1>


    <div class="box">    
            {% trans "Your account will expire at" %}: {{ request.user.paypalaccount.expire }}
    </div>
</div>



{% endblock container %}
