{% extends "base.html" %}
{% load i18n %}

{% block container %}

<h1 class="title">
    {% if object %}
        
        {% trans "Update Car" %}
    {% else %}
        {% trans "Add Car" %}
        
    {% endif %}
</h1>

<form ic-post-to="{% url 'car_add' %}" ic-target="#form">
    {% csrf_token %}
            <div class="field">
                 <div class="control has-icons-left has-icons-right">
                        <input id="prova" type="text is-static" class="input"
                            ic-src="{% url 'car_client_search' %}" 
                            ic-trigger-delay="1500ms"
                            autocomplete="off"
                            ic-indicator="#indicator"
                            name="search"  placeholder="{% trans "Search client ..." %}"/>
                         <span id="check" class="icon is-small is-right"  style="display:none">
                          <i class="fas fa-check has-text-primary	"></i>
                            </span>

                              <span id="indicator" class="icon is-small is-left" style="display:none" >
                                   <i class="fas fa-spinner fa-spin	"></i>
                            </span
                            
                </div>
            </div>


    <div class="field">
        <div class="control">
           <div class="dropdown-menu" id="prova-menu" role="menu" /></div>
        
        </div>
    </div>

    <div class="field">
        <div class="control">
        
            <label id="prova-label"> not set
            </label>
            <input type="hidden" name="client_id">
        
        </div>
    </div>

    <div id="form">
    
        {% include "form.html" %}

    </div>

<div class="field">

    <div class="buttons">
        <button  type="submit"
            class="button is-info"> {% trans "Add" %}</button>
    </div>

</div>

</form>

<script charset="utf-8">

    function api(value) {
        return new Promise(function(rs, js) {
                     $("#check").hide();
                    $("#indicator").show();

             Intercooler.triggerRequest($('#prova'), function (data) {
                console.log("ic-trigger",data);
                resp = $.parseJSON(data);
                rs(resp);
              });
        })
    }
    bulmahead("prova", "prova-menu", api, function( item) {
        console.log("selected", item);
        $("input[name='client_id']").val(item.value);
        $("#prova-label").text(item.label);
        $("#check").show();
    },0);

</script>

{% endblock %}
