{% extends "base.html" %}
{% load i18n %}

{% block container %}

<h1 class="title"> {% trans "Add Car" %}</h1>

<form ic-post-to="{% url 'car_add' %}" ic-target="#form">
    {% csrf_token %}

    <div class="field is-horizontal">
        <div class="field-label">
            {% trans "Search Client" %}
        </div>
        <div class="field-body">
            <div class="field">
                 <div class="control">
                        <input id="prova" type="text is-static" class="input"
                            ic-src="{% url 'car_client_search' %}" 
                            ic-trigger-delay="500ms"
                            name="search"  placeholder="{% trans "client" %}"/>
                </div>
            </div>

        </div>
   </div>

    <div class="field">
        <div class="control">
        
           <div class="dropdown-menu" id="prova-menu" role="menu" /></div>
        
        </div>
    </div>


    <input type="hidden" name="client_id">
    <div id="form">
    
        {% include "form.html" %}

    </div>

<div class="field">

    <div class="buttons">
        <button  type="submit"
            class="button is-info"> {% trans "Add" %}</button>
    </div>

</div>

</form>

<script charset="utf-8">

    function api(value) {
        return new Promise(function(rs, js) {
             Intercooler.triggerRequest($('#prova'), function (data) {
                console.log("ic-trigger",data);
                resp = $.parseJSON(data);
                rs(resp);
              });
        })
    }
    bulmahead("prova", "prova-menu", api, function( item) {

        $("input[name='client_id']").val(item.value);
        $("prova").val(item.name);
        
    },0);

</script>

{% endblock %}
