{% extends "base.html" %}
{% load i18n %}

{% block container %}
<div class="level">
    <div class="level-left">
      <h1 class="subtitle is-3">Hello .. {{request.user.username}}</h1>
    </div>
    <div class="level-rigth">

        <form action="{% url 'dashboard'%}" method="get">
          <div class="field is-grouped">
            <div class="control">
              <div class="select">
              
                 <select name="search_time"
                 
                 ic-trigger-on="change"
                  ic-push-url="true" ic-push-params="search_time"
                 >
                    <option value="m" {% if search_time == 'm' %} selected{% endif %}>This Month</option>
                    <option value="mm" {% if search_time == 'mm' %} selected{% endif %}>Last Month</option>
                    <option value="t" {% if search_time == 't' %} selected{% endif %}>Today</option>
                    <option value="y" {% if search_time == 'y' %} selected{% endif %}>Yesterday</option>
                    <option value="w" {% if search_time == 'w' %} selected{% endif %}>This Week</option> 
                </select>

              </div>
            
            </div>
            <div class="control">
                  <button class="button" type="submit"> {% trans "Change" %}</button>
            </div>
          </div>
        </form>
    </div>
</div>

<div class="columns is-multiline">
            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-link has-text">
                <p class="title is-1">{{raw_services.count}}</p>
                <p class="subtitle is-4">Services</p>
              </div>
            </div>


            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-info has-text">
                <p class="title is-1">{{clients.count}}</p>
                <p class="subtitle is-4">{% trans "Total clients" %}</p>
              </div>
            </div>


         <div class="column is-12-tablet is-6-desktop is-6-widescreen">
              <div class="notification is-warning has-text">
                <p class="title is-1">$ {{profit}}</p>
                <p class="subtitle is-4"> {% trans "Incomes" %}</p>
              </div>
            </div>
</div>


{% include "core/_dashboard_card_service.html" %}
<div class="columns pt-s">
  {% for s in services %}
    <div class="column is-4">          
      {% include "core/_dashboard_card.html" %}
    </div>          
  {% endfor %}
</div>
{% endblock %}