{% extends "base.html" %}
{% load i18n %}

{% block container %}
<div class="level">
    <div class="level-left">
      <h1 class="subtitle is-3">Hello .. {{request.user.username}}</h1>
    </div>
    <div class="level-rigth">

        <form action="{% url 'dashboard'%}" method="get">
          <div class="field is-grouped">
            <div class="control">
              <div class="select">
              
                 <select name="search_time">
                    <option value="m">This Month</option>
                    <option value="t">Today</option>
                    <option value="y">Yesterday</option>
                    <option value="w">This Week</option> 
                </select>

              </div>
            
            </div>
            <div class="control">
                  <button class="button" type="submit"> {% trans "Change" %}</button>
            </div>
          </div>
        </form>
    </div>
</div>

<div class="columns is-multiline">
            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-link has-text">
                <p class="title is-1">{{raw_services.count}}</p>
                <p class="subtitle is-4">Services</p>
              </div>
            </div>


            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-info has-text">
                <p class="title is-1">{{clients.count}}</p>
                <p class="subtitle is-4">Clients</p>
              </div>
            </div>


         <div class="column is-12-tablet is-6-desktop is-6-widescreen">
              <div class="notification is-warning has-text">
                <p class="title is-1">$ {{profit}}</p>
                <p class="subtitle is-4"> {% trans "Incomes" %} {% now "M Y" %}</p>
              </div>
            </div>
</div>

<div class="columns">
    <div class="column ">
        <h3 class="subtitle is-2">
      {% trans "Services" %}
        </h3>

        <div class="card">
           <div class="card-content">
              <div class="level">
                <div class="level-right ">
                  <h2 class="title is-4">
                    {% trans "Paid" %}
                  </h2>
                </div>
                <div class="level-left">
                  <h2 class="subtitle is-4">
                    {{raw_services.paid.count}}
                  </h2>
                </div>
              </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
              <div class="level">
                <div class="level-right ">
                  <h2 class="title is-4">
                   {% trans "Completed" %}
                  </h2>
                </div>
                <div class="level-left">
                  <h2 class="subtitle is-4">
                    {{raw_services.completed.sum}}
                  {{raw_services.completed.count}}
                  </h2>
                </div>
              </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
              <div class="level">
                <div class="level-right ">
                  <h2 class="title is-4">
                    {% trans "Open" %}
                  </h2>
                </div>
                <div class="level-left">
                  <h2 class="subtitle is-4">
                    {{raw_services.open.suma}}
                  {{raw_services.open.count}}
                  </h2>
                </div>
              </div>


            </div>
        </div>

    </div>

    <div class="column ">
                 <p class="subtitle is-2">
                    {% trans "Last Services" %}
                </p>
        <div class="card">
            <div class="card-content">
   
            {% for s in services %}
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="title is-5">
                                {{s.car}}
                            </p>
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="has-text-right">
                        <p class="title is-5 is-marginless">
                          ${{s.total}}
                        </p>
                        <span class="tag is-warning">{{s.get_status}}</span>
                      </div>
                    
                    </div>
                </div>

                        <div class="">
                            <div class="">
                              {{s.car.client}}
                            </div>
                            <small>{{s.reception_datetime}}</small>
                        </div>

            
            {% endfor %}

            </div>
        </div>
    
    </div>
</div>


{% endblock %}